@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style: none;
}

.header,
.information,
.quote,
.product {
  flex-grow: 1;
}

.header {
  background-color: #1f2937;
}

.container {
  margin: 0 auto;
  padding: 0 150px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 800;
  color: #f9faf8;
}

.navbar a,
.hero p {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.information h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
}

.quote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.footer {
  margin-top: auto;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
}
