@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

ul {
  list-style: none;
}

.hero {
  background-color: #1f2937;
}

.navbar .logo {
  font-size: 24px;
  color: #f9faf8;
}

.navbar a,
.header p {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.header h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
}

.information h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
}

.quote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}
